// Color
$dark-blue : #180944;
$light-blue: #826dc1;
$red : #ff3644;
$dark-red: #a2343c;
$dark-yellow:#ffac41;
$white:#ffffff;
$black:#3d3d3d;


// Font
$lg-font:16px;
$md-font:14px;


//
$border-radius:25px;
